body {
    font-family: Arial, sans-serif;
    margin: 50px;
    background-color: #f7f7f7;
}

#results div {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-top: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}
